/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables";

body, input, select, textarea, a, button {
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
}

* {
  box-sizing: border-box;
}

body,
html{
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #FFF inset;
  text-shadow: none;
}

:host {
  display: flex;
  overflow: hidden;
  height: 100vh;
  main {
    position: relative;
  }
  /deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.flat-button {
  height: 24px;
  width: 24px;
  padding: 1px;
  background-color: transparent;
  border: none;
  color: #969696;
  font-size: 16px;
  transition: color 0.2s ease-in;
  cursor: pointer;
  outline: none;
}

.flat-button:hover {
  color: $accent-color;
  &.warn {
    color: red;
  }
}

a, button, input, mat-checkbox, mat-icon {
  -webkit-app-region: no-drag;
}

//==============================================
// MATERIAL DESIGN ICONS SIZING

.material-icons.md-14 {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

.material-icons {
  vertical-align: middle;
}
