$chat-grey-0: #121212;
$chat-grey-1: #191919;
$chat-grey-2: #202020;
$chat-grey-3: #2A2A2A;
$chat-grey-4: #333333;
$chat-grey-5: #ab00e0;
$chat-grey-6: #ADADAD;

$primary-color: #1c1c1e;
$accent-color: #fff;
