@import "../../../styles";

$timings: ease-out;

.group {
  position: relative;
  transition: border .2s $timings, color .1s $timings, background .2s $timings, rotate3d 0.2s $timings;
  text-align: left;
  height: 52px;
  margin: 0;
  cursor: pointer;
  color: #969696;
  background: none center center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;

  .group-link {
    position: relative;
    text-decoration: none;
    color: #969696;
    transition: all .0s $timings;

    .avatars-stack {
      position: relative;
      height: 52px;
      width: 68px;

      .avatar-container {
        position: absolute;
        margin: 3px 3px 3px 5px;
        width: 43px;
        height: 48px;
        background-color: transparent;
        overflow: hidden;
        min-height: 48px;
        min-width: 48px;
        border-radius: 50%;
        background-size: cover;
        border: 2px solid #666;
        transition: all .2s $timings;
        display: block;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-left: 10px;
        }

        .avatar {
          height: 48px;
          width: 48px;
          transition: all .2s $timings;
        }
      }
    }


    .group-name {
      vertical-align: middle;
      transition: all .2s $timings;
      min-width: 238px;
      &.extinguished {
        opacity: 0.2;
      }
    }
  }
  .group-controls {
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    left: 52px;
    transition: all .2s $timings;
  }
  .group-controls-opener {
    width: 24px;
    height: 24px;
    text-decoration: none;
    color: #969696;
    transition: all .2s $timings;
    &:hover {
      color: $accent-color;
    }
  }

  &:hover {
    .group-link {
      color: $accent-color;
      .avatars-stack .avatar-container {
        border-color: $accent-color;
      }
    }
  }
}
