@import "../../../styles";

$timings: ease-out;

.group {
  position: relative;
  transition: all 0.2s ease-in;
  text-align: left;
  height: 62px;
  margin: 0;
  padding: 4px 0;
  cursor: pointer;
  color: #969696;
  background: none center center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  overflow: hidden;

  &.active {
    border-left: transparent;
    background-color: #2a2a2a;
  }
  &:hover{
    background-color: #333;
  }
  .loading-members {
    margin: auto;
  }

  .group-link {
    position: relative;
    text-decoration: none;
    color: #969696;
    transition: all .0s $timings;

    .avatars-stack {
      position: relative;
      height: 52px;
      width: 68px;

      .avatar-container {
        position: absolute;
        width: 48px;
        height: 48px;
        background-color: #777;
        overflow: hidden;
        min-height: 48px;
        min-width: 48px;
        border-radius: 50%;
        background-size: cover;
        transition: all .2s $timings;
        display: block;
        margin: 3px 3px 3px 5px;

        &:first-child {
          transform: translateX(-5px);
          background-color: #555;
        }
        &:last-child {
          //margin-left: 10px;
          transform: translateX(10px);
          background-color: #999;
        }

        .avatar {
          height: 100%;
          width: 100%;
          .avatar-img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .2s $timings;
          }
        }
      }
    }


    .group-name {
      vertical-align: middle;
      transition: all .2s $timings;
      min-width: 238px;
      &.extinguished {
        opacity: 0.2;
      }
    }
  }
  .group-controls {
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    left: 52px;
    transition: all .2s $timings;
  }
  .group-controls-opener {
    width: 24px;
    height: 24px;
    text-decoration: none;
    color: #969696;
    transition: all .2s $timings;
    &:hover {
      color: $accent-color;
    }
  }

  &:hover {
    .group-link {
      color: $accent-color;
      .avatars-stack .avatar-container {
        transform: scale(1.1) translateX(4px);

        &:first-child {
          transform: scale(0.8) translateX(-5px);
          animation: bounce-down .2s;
        }
        &:last-child {
          //transform: scale(1.2);
          animation: bounce-up .2s;
          transform: scale(1.2) translateX(10px);
        }
      }
    }
  }
}

@keyframes bounce-down {
  0% { transform: scale(0.9) translateX(-5px); }
  20% { transform: scale(0.5) translateX(-8px) }
  50% { transform: scale(0.85) translateX(-6px) }
  80% { transform: scale(0.7) translateX(-7px) }
  100% { transform: scale(0.8) translateX(-5px) }
}

@keyframes bounce-up {
  0% { transform: scale(1.1) translateX(10px) }
  20% { transform: scale(1.35) translateX(14px) }
  50% { transform: scale(1.15) translateX(9px) }
  90% { transform: scale(1.21) translateX(11px) }
  100% { transform: scale(1.2) translateX(10px) }
}
