@import "../../../styles";

$timings: ease-out;

.group {
  position: relative;
  transition: all 0.2s ease-in;
  text-align: left;
  height: 62px;
  margin: 0;
  padding: 4px 0;
  cursor: pointer;
  color: #969696;
  background: none center center no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  overflow: hidden;

  &.active {
    border-left: transparent;
    background-color: #2a2a2a;
  }
  &:hover{
    background-color: #333;
  }
  .loading-members {
    margin: auto;
  }

  .group-link {
    position: relative;
    text-decoration: none;
    color: #969696;
    transition: all .0s $timings;

    .avatars-stack {
      position: relative;
      height: 52px;
      width: 68px;

      .avatar-container {
        position: absolute;
        width: 43px;
        height: 48px;
        background-color: #777;
        overflow: hidden;
        min-height: 48px;
        min-width: 48px;
        border-radius: 50%;
        background-size: cover;
        transition: all .2s $timings;
        display: block;
        margin: 3px 3px 3px 5px;

        &:first-child {
          margin-left: 0;
          background-color: #555;
        }
        &:last-child {
          margin-left: 10px;
          background-color: #999;
        }

        .avatar {
          height: 48px;
          width: 48px;
          transition: all .2s $timings;
        }
      }
    }


    .group-name {
      vertical-align: middle;
      transition: all .2s $timings;
      min-width: 238px;
      &.extinguished {
        opacity: 0.2;
      }
    }
  }
  .group-controls {
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    left: 52px;
    transition: all .2s $timings;
  }
  .group-controls-opener {
    width: 24px;
    height: 24px;
    text-decoration: none;
    color: #969696;
    transition: all .2s $timings;
    &:hover {
      color: $accent-color;
    }
  }

  &:hover {
    .group-link {
      color: $accent-color;
      .avatars-stack .avatar-container {
        transform: scale(1.1);
        margin-left: 4px;

        &:first-child {
          transform: scale(0.8);
          margin-left: -7px;
        }
        &:last-child {
          transform: scale(1.2);
          margin-left: 14px;
        }
      }
    }
  }
}
