<div class="group {{className}}"
     *ngIf="roomContainer"
     [class.active]="active"
     fxLayout="row"
     fxLayoutAlign="space-between center">
  <chat-loader *ngIf="roomContainer.loading"></chat-loader>
  <a (click)="click.emit($event)"
     class="group-link"
     fxLayout="row"
     fxLayoutAlign="start center">
    <div class="avatars-stack">
      <div class="avatar-container"
           *ngFor="let memberId of roomContainer.room.members | skipOwnFilter:profile.id; let i=index"
           fxFlex="48px">
        <div *ngIf="i < 3 && roomContainer.getUser(memberId)" class="avatar">
          <img src="{{ roomContainer.getUser(memberId).avatarUrl }}"
               class="avatar-img"
               *ngIf="roomContainer.getUser(memberId).avatarUrl; else defaultAvatar"/>
          <ng-template #defaultAvatar>
            <img src="../../../assets/img/avatars/default-avatar.png" class="avatar-img"/>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="group-name">
    {{ roomContainer.getName() }}
    </div>
  </a>
  <div class="group-controls"
       *ngIf="!roomContainer.loading"
       fxLayout="row"
       fxLayoutAlign="end center"
       fxFlex>
    <ng-content></ng-content>
  </div>
</div>
