<div class="person {{className}}"
     *ngIf="person"
     [class.active]="active"
     [class.compact]="compact"
     fxLayout="row"
     fxLayoutAlign="space-between center">
  <a (click)="click.emit($event)"
     class="person-link"
     fxLayout="row"
     fxLayoutAlign="start center">
    <div class="avatar-container" fxFlex="48px">
      <img src="{{ person.avatarUrl }}"
           class="avatar"
           *ngIf="person.avatarUrl; else defaultAvatar"/>
      <ng-template #defaultAvatar>
        <img src="../../../assets/img/avatars/default-avatar.png" class="avatar"/>
      </ng-template>
    </div>
    <div *ngIf="!compact"
         class="person-name"
          [@fadeShiftAnimation]>
      {{ person.name }}
    </div>
  </a>
  <div class="person-controls"
       *ngIf="!compact"
       [@fadeAnimation]
       fxLayout="row"
       fxLayoutAlign="end center"
       fxFlex>
    <ng-content></ng-content>
  </div>
</div>
