<div class="person {{className}}"
     [class.active]="active"
     [class.compact]="compact"
     fxLayout="row"
     (mouseover)="showPersonControls = true"
     (mouseleave)="showPersonControls = false"
     fxLayoutAlign="space-between center">
  <a (click)="click.emit($event)"
     class="person-link"
     fxLayout="row"
     fxLayoutAlign="start center">
    <div class="avatar-container" fxFlex="48px">
      <div class="mask"></div>
      <img src="{{ avatar }}"
           class="avatar"
           *ngIf="avatar; else defaultAvatar"/>
      <ng-template #defaultAvatar>
        <img src="../../../assets/img/avatars/default-avatar.png" class="avatar"/>
      </ng-template>
    </div>
    <div *ngIf="!compact"
         class="person-name"
         [class.extinguished]="showPersonControls"
          [@fadeShiftAnimation]>
      {{ name }}
    </div>
  </a>
  <div class="person-controls"
       *ngIf="!compact && showPersonControls"
       [@scaleAnimation]
       fxLayout="row"
       fxLayoutAlign="space-around center"
       fxFlex>
    <ng-content></ng-content>
  </div>
</div>
