<div class="room {{className}}" *ngIf="_room">
  <div class="room-header">
    <button class="flat-button room-close-btn" (click)="close.emit($event)">
      <mat-icon class="md-24">keyboard_arrow_left</mat-icon>
    </button>
    <button class="flat-button room-dismiss-btn" (click)="dismiss.emit($event)">
      <mat-icon class="md-24">close</mat-icon>
    </button>
  </div>
  <div class="room-bg"></div>
  <div class="chat-log-container">
    <div class="chat-log">
      <div class="chat-messages" #chatLogElement>
        <div *ngFor="let message of _room.messages; let i = index"
             class="chat-message"
             [class.mine]="message.from == _room.me.id"
             [class.head]="isHeadMessage(message, i)">
          <div class="chat-message-from">
            <div class="chat-avatar-container" fxFlex="48px" *ngIf="isHeadMessage(message, i)">
              <img src="{{ getAvatar(message.from) }}"
                   class="chat-avatar"
                   *ngIf="getAvatar(message.from); else defaultAvatar"/>
              <ng-template #defaultAvatar>
                <img src="../../../assets/img/default-avatar.png" class="chat-avatar"/>
              </ng-template>
            </div>
          </div>
          <div class="chat-message-text">
            {{message.body}}
          </div>
          <div class="chat-message-timestamp" *ngIf="isHeadMessage(message, i)">
              {{ message.timestamp | date: 'hh:mm' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <form class="chat-form" fxLayout="row">
      <mat-form-field class="chat-input-field" fl>
        <input matInput id="message" name="message"
               placeholder="Message"
               [formControl]="messageInput"
               [(ngModel)]="_room.newMessage">
      </mat-form-field>
      <button class="flat-button chat-send-btn" (click)="sendMessage()">
        <mat-icon class="md-24">send</mat-icon>
      </button>
    </form>
  </div>
</div>
