.room {
  transition: all .1s ease-out;
  height: 100%;
  width: 100%;
  background-color: #2a2a2a;
  border-right: 1px solid #666;
  right: -2px;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  .room-toolbar {
    .room-members {
      chat-person {
        .person:hover {
          background-color: transparent;
        }
      }
    }
  }
  .room-header {
    -webkit-app-region: drag;
    background: linear-gradient(to bottom, #2a2a2a 70%, transparent 100%);
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
  }
  .room-dismiss-btn {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 5px;
  }
  .room-close-btn {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 32px;
  }
  .room-bg {
    position: absolute;
    top: 56px;
    left: 2px;
    right: 0;
    bottom: 0;
    background: url(../../../assets/img/chat-bg.png) no-repeat center center;
    background-size: 50% auto;
    opacity: .04;
  }
  .chat-log-container {
    position: absolute;
    top: 56px;
    bottom: 100px;
    left: 0;
    right: 0;
    .chat-log {
      position: relative;
      height: 100%;
      width: 100%;

      .chat-messages {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: absolute;
        padding-right: 4px;
        left: 4px;
        bottom: 0;
        right: 0;
        max-height: 100%;
        .loading-zone {
          height: 10px;
        }
        .loading-messages {
          margin: auto;
        }
        .chat-message {
          margin: 0;
          padding: 5px 0 0 0;
          border-radius: 6px;
          color: white;
          position: relative;
          .chat-message-from {
            position: absolute;
            bottom: 20px;
            right: 10px;
            min-width: 52px;
            min-height: 52px;

            .chat-avatar-container {
              margin: 3px;
              position: relative;
              height: 48px;
              width: 48px;
              min-height: 48px;
              min-width: 48px;
              border-radius: 50%;
              background-size: cover;
              border: 2px solid rgba(255, 255, 255, 0);
              transition: all .2s ease-in;
              overflow: hidden;
              display: block;

              .chat-avatar {
                height: 48px;
                width: 48px;
                transition: all .2s ease-in;
              }
            }
          }
          .chat-message-text {
            background: #4e4e4e;
            border-radius: 6px;
            padding: 8px 10px;
            position: relative;
            margin-right: 68px;
            margin-left: 10px;
            top: 7px;
          }
          .chat-message-timestamp {
            position: absolute;
            bottom: 5px;
            font-size: small;
            right: 20px;
          }
          &.mine {
            .chat-message-from {
              left: 7px;
              right: auto;
              margin-left: 0;
            }
            .chat-message-text {
              background: #423c5d;
              margin-left: 68px;
              margin-right: 10px;
            }
            .chat-message-timestamp {
              right: initial;
              left: 20px;
            }
          }

          &.head {
            padding-bottom: 30px;
            .chat-message-text {
              &:after {
                content: ' ';
                position: absolute;
                width: 0;
                height: 0;
                left: auto;
                right: -19px;
                top: auto;
                bottom: 0;
                border: 20px solid;
                border-color: transparent transparent #4e4e4e transparent;
              }
            }

            &.mine {
              .chat-message-text {
                &:after {
                  content: ' ';
                  position: absolute;
                  width: 0;
                  height: 0;
                  right: auto;
                  left: -19px;
                  top: auto;
                  bottom: 0;
                  border: 20px solid;
                  border-color: transparent transparent #423c5d transparent;
                }
              }
            }
          }

          &.join {
            padding-bottom: 0;
            margin-bottom: -10px;
            .chat-message-text {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
      }
    }
  }

  .chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    z-index: 1;

    .chat-form {
      margin: 14px 0 0 10px;
      width: calc(100% - 25px);
      height: 100px;

      .chat-input-field {
        width: 100%;
        color: white;
        > .nw-toolbar {
          display: none;
        }
      }
      .emoji-picker {
        visibility: hidden;
        position: absolute;
        top: -400px;
        right: 0;
        .emoji-close-overlay {
          position: fixed;
          background: transparent;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 0;
        }
        &.show {
          visibility: visible;
        }
      }
      .chat-emoji-btn {
        position: relative;
        margin-top: 20px;
        margin-left: 6px;
      }
      .chat-send-btn {
        position: relative;
        margin-top: 20px;
        margin-left: 6px;
      }
    }
  }
}

//h3:first-child {
//  margin-top: 0;
//}
//
//p:last-child {
//  margin-bottom: 0;
//}
