<div class="room {{className}}" *ngIf="_room">
  <mat-toolbar color="accent" class="room-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button *ngIf="isMobile" class="flat-button md-36" (click)="back.emit($event)">
        <mat-icon class="md-36">arrow_back</mat-icon>
      </button>
    </div>
    <div class="room-members" fxLayout="row" *ngIf="_room.room.members.length <= 2">
      <chat-person *ngFor="let memberId of _room.room.members | skipOwnFilter:_room.me.id"
                   [person]="_room.getUser(memberId)">
      </chat-person>
    </div>
    <div class="room-members" fxLayout="row" *ngIf="_room.room.members.length > 2">
      <chat-person *ngFor="let memberId of _room.room.members | skipOwnFilter:_room.me.id"
                   [matMenuTriggerFor]="member_menu"
                   [person]="_room.getUser(memberId)"
                   [compact]="isTablet || _room.room.members.length > 4"
                   class="room-member">
        <mat-menu #member_menu="matMenu">
          <button mat-menu-item (click)="startChat.emit({memberId: memberId})">
            <mat-icon>chat</mat-icon>
            <span>Private Chat</span>
          </button>
          <button mat-menu-item (click)="_room.kickMember(memberId)" *ngIf="isOwner()">
            <mat-icon>close</mat-icon>
            <span>Remove Member</span>
          </button>
        </mat-menu>
      </chat-person>
    </div>
    <div>
      <button class="flat-button md-36" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="close.emit($event)">
          <mat-icon>close</mat-icon>
          <span>Close Chat</span>
        </button>
        <button mat-menu-item (click)="delete.emit($event)">
          <mat-icon>delete_forever</mat-icon>
          <span>Exit and Remove History</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div class="room-bg"></div>
  <div class="chat-log-container">
    <div class="chat-log">
      <div class="chat-messages" #chatLogElement (scroll)="loadHistory()">
        <div class="loading-zone"></div>
        <div *ngFor="let message of _room.messages; trackBy: trackByMessageId; let i = index"
             class="chat-message"
             [class.mine]="message.from == _room.me.id"
             [class.join]="isNearestMessage(message, i)"
             [class.head]="isHeadMessage(message, i)">
          <div class="chat-message-from" *ngIf="isHeadMessage(message, i)">
            <div class="chat-avatar-container" fxFlex="48px">
              <img src="{{ getAvatar(message.from) }}"
                   class="chat-avatar"
                   *ngIf="getAvatar(message.from); else defaultAvatar"/>
              <ng-template #defaultAvatar>
                <img src="../../../assets/img/default-avatar.png" class="chat-avatar"/>
              </ng-template>
            </div>
          </div>
          <div class="chat-message-text" [innerHtml]="message.body | newline">
          </div>
          <div class="chat-message-timestamp" *ngIf="isHeadMessage(message, i)">
            {{ getTimestamp(message) | date:'medium' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <form class="chat-form" fxLayout="row" fxLayoutAlign="space-between center" (keydown)="sendOnEnter($event)">
      <mat-form-field class="chat-input-field">
        <textarea matInput id="message" name="message" placeholder="Message"
                  matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="2"
                  [(ngModel)]="_room.newMessage"></textarea>
      </mat-form-field>
      <button class="flat-button chat-emoji-btn" type="button" (click)="toggleEmojiPicker()">
        <mat-icon class="md-24">tag_faces</mat-icon>
      </button>
      <div class="emoji-picker" [class.show]="emojiPickerOpened">
        <div class="emoji-close-overlay" (click)="emojiPickerOpened = false"></div>
        <emoji-mart title="Pick your emoji…"
                    perLine="7"
                    emojiTooltip="true"
                    title=""
                    native="true"
                    (emojiClick)="pickEmoji($event);">
        </emoji-mart>
      </div>
      <button class="flat-button chat-send-btn" type="submit" (click)="sendMessage()">
        <mat-icon class="md-24">send</mat-icon>
      </button>
    </form>
  </div>
</div>
