<div class="room {{className}}" *ngIf="_room">
  <div class="room-header">
    <button class="flat-button room-close-btn" (click)="close.emit($event)">
      <mat-icon class="md-24">keyboard_arrow_left</mat-icon>
    </button>
    <button class="flat-button room-dismiss-btn" (click)="dismiss.emit($event)">
      <mat-icon class="md-24">close</mat-icon>
    </button>
  </div>
  <div class="room-bg"></div>
  <div class="chat-log-container">
    <div class="chat-log">
      <div class="chat-messages" #chatLogElement (scroll)="loadHistory()" ontouchmove="function(){}">
        <div class="loading-zone"></div>
        <div *ngIf="loading">
          <mat-spinner class="loading-messages"></mat-spinner>
        </div>
        <div *ngFor="let message of _room.messages; trackBy: trackByMessageId; let i = index"
             class="chat-message"
             [class.mine]="message.from == _room.me.id"
             [class.join]="isNearestMessage(message, i)"
             [class.head]="isHeadMessage(message, i)">
          <div class="chat-message-from">
            <div class="chat-avatar-container" fxFlex="48px" *ngIf="isHeadMessage(message, i)">
              <img src="{{ getAvatar(message.from) }}"
                   class="chat-avatar"
                   *ngIf="getAvatar(message.from); else defaultAvatar"/>
              <ng-template #defaultAvatar>
                <img src="../../../assets/img/default-avatar.png" class="chat-avatar"/>
              </ng-template>
            </div>
          </div>
          <div class="chat-message-text" [innerHtml]="message.body | newline">
          </div>
          <div class="chat-message-timestamp" *ngIf="isHeadMessage(message, i)">
              {{ getTimestamp(message) | date:'medium' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <form class="chat-form" fxLayout="row" fxLayoutAlign="space-between center" (keydown)="sendOnEnter($event)">
      <mat-form-field class="chat-input-field">
        <textarea matInput id="message" name="message" placeholder="Message"
                  matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="2"
                  [(ngModel)]="_room.newMessage"></textarea>
      </mat-form-field>
      <button class="flat-button chat-emoji-btn" type="button" (click)="toggleEmojiPicker()">
        <mat-icon class="md-24">tag_faces</mat-icon>
      </button>
      <div class="emoji-picker" [class.show]="emojiPickerOpened">
        <div class="emoji-close-overlay" (click)="emojiPickerOpened = false"></div>
        <emoji-mart title="Pick your emoji…"
                    perLine="7"
                    emojiTooltip="true"
                    title=""
                    native="true"
                    (emojiClick)="pickEmoji($event);">
        </emoji-mart>
      </div>
      <button class="flat-button chat-send-btn" type="submit" (click)="sendMessage()">
        <mat-icon class="md-24">send</mat-icon>
      </button>
    </form>
  </div>
</div>
