@import "../../variables";

.profile-toolbar{
  padding: 0;
  .profile {
    width: 100%;
  }
}

.chat {
  height: 100%;
  .chat-content {
    height: 100%;
    background-color: #2a2a2a;
    position: relative;

    .chat-bg {
      position: absolute;
      top: 56px;
      left: 2px;
      right: 0;
      bottom: 0;
      background: url(../../assets/img/chat-logo.png) no-repeat center center;
      background-size: 186px auto;
      opacity: 1;
    }
    &.social-bar-fold {
      width: calc(100% - 72px);
      left: 72px;
    }
  }
}

.sidebar {
  height: 100%;
  background-color: $chat-grey-0;
}

.loading-friends {
  margin: auto;
}

.facebook-btn {
  color: white;
  margin: auto;
  font-weight: bold;
  white-space: pre-line;
  max-width: 230px;
  height: 200px;
  line-height: 25px;
  background-color: #4267b2;
  .fb-icon {
    width: 64px;
    height: 64px;
    margin: -20px 10px 10px;
  }
}

.person-control-grp-btn {
  width: 36px;
  height: 36px;
}

.person-control-btn {
  width: 36px;
  height: 36px;
}

.friends-filter-input {
  margin: 0 10px;
  width: calc(100% - 20px);
  color: white;
  &.fold {
    margin: 0;
    width: 100%;
  }
}

.chat-group {
  height: 62px;
}
