<mat-sidenav-container class="chat-theme chat">
  <mat-sidenav #snav [disableClose]="!isMobile()"
               [opened]="!isMobile()"
               [mode]="isMobile() ? 'over' : 'side'"
               [fixedInViewport]="false"
               [style.width]="isMobile() ? '100%' : '300px'">
    <mat-toolbar color="accent" class="profile-toolbar">
      <chat-person [person]="profile" class="profile">
        <button class="flat-button md-36" (click)="logout()">
          <mat-icon class="md-36">exit_to_app</mat-icon>
        </button>
      </chat-person>
    </mat-toolbar>
    <mat-form-field class="friends-filter-input" floatLabel="never">
      <input matInput #nameFilter placeholder="Friends...">
    </mat-form-field>

    <div class="chat-groups">
      <div class="chat-group" *ngFor="let chat of rooms" [class.active]="isActiveChat(chat)" fxLayout="column">
        <div *ngIf="chat.loading">
          <mat-spinner class="loading-members"></mat-spinner>
        </div>
        <a (click)="switchToChat(chat);isMobile()?snav.close():true" *ngIf="!isActiveChat(chat)"
           class="chat-group-overlay-btn"></a>
        <chat-person *ngFor="let memberId of chat.room.members | skipOwnFilter:profile.id"
                     (click)="switchToChat(chat);isMobile()?snav.close():true"
                     [person]="chat.getUser(memberId)" class="chat-person">
          <button class="flat-button md-36"
                  (click)="$event.stopPropagation(); removeFromChat(chat, memberId)"
                  *ngIf="chat.amIOwner()">
            <mat-icon class="md-36">close</mat-icon>
          </button>
        </chat-person>
      </div>
    </div>

    <div class="friends" *ngIf="hasFriendsPermissions">
      <chat-person *ngFor="let friend of friends | friendsFilter:nameFilter.value; trackBy: trackByUserId"
                   (click)="chatWith(friend.id);isMobile()?snav.close():true"
                   [person]="friend">
        <button class="flat-button md-36" *ngIf="canAddToCurrentChat(friend.id)"
                (click)="$event.stopPropagation(); addToCurrentChat(friend)">
          <mat-icon class="md-36">add</mat-icon>
        </button>
      </chat-person>
    </div>

    <div *ngIf="loadingFriends">
      <mat-spinner class="loading-friends"></mat-spinner>
    </div>

    <div *ngIf="!hasFriendsPermissions && !loadingFriends">
      <button mat-raised-button fxFlex
              (click)="loginWith('facebook')"
              class="facebook-btn">
        <mat-icon svgIcon="facebook" class="fb-icon"></mat-icon>
        Allow friends access to import them from Facebook
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="chat-content" [style.width]="isMobile() ? '100%' : 'calc(100% - 300px)'">
    <mat-toolbar color="accent" class="example-toolbar">
      <button *ngIf="isMobile()" class="flat-button md-36" (click)="snav.toggle()">
        <mat-icon class="md-36">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="chat-bg"></div>
    <chat-room *ngIf="chatOpened"
               [room]="activeRoom"
               [isMobile]="isMobile()"
               (close)="snav.open()"
               (dismiss)="dismissChat(activeRoom)"></chat-room>
  </mat-sidenav-content>
</mat-sidenav-container>
