@import "../../variables";

.profile-toolbar{
  padding: 0;
  .profile {
    width: 100%;
  }
}

.chat {
  height: 100%;
  .chat-content {
    //transition: all .1s ease-out;
    height: 100%;
    //width: calc(100% - 300px);
    background-color: #2a2a2a;
    //border-right: 1px solid #666;
    //right: 0;
    //top: 0;
    //left: 300px;
    //bottom: 0;
    position: relative;

    .chat-bg {
      position: absolute;
      top: 56px;
      left: 2px;
      right: 0;
      bottom: 0;
      background: url(../../assets/img/chat-logo.png) no-repeat center center;
      background-size: 186px auto;
      opacity: 1;
    }
    &.social-bar-fold {
      width: calc(100% - 72px);
      left: 72px;
    }
  }
}

.sidebar {
  height: 100%;
  //width: 300px;
  background-color: $chat-grey-0;
}

.loading-friends {
  margin: auto;
}

.facebook-btn {
  color: white;
  margin: auto;
  font-weight: bold;
  white-space: pre-line;
  max-width: 230px;
  height: 200px;
  line-height: 25px;
  background-color: #4267b2;
  .fb-icon {
    width: 64px;
    height: 64px;
    margin: -20px 10px 10px;
  }
}

.person-control-grp-btn {
  width: 36px;
  height: 36px;
}

.person-control-btn {
  width: 36px;
  height: 36px;
  //background: linear-gradient(to left, #121212 80%, transparent 100%);
}

.friends-filter-input {
  margin: 0 10px;
  width: calc(100% - 20px);
  color: white;
  &.fold {
    margin: 0;
    width: 100%;
  }
}

.chat-group {
  transition: all 0.2s ease-in;
  background-color: #333;
  border: 1px solid #666;
  border-radius: 20px;
  position: relative;
  display: inline-flex;
  width: 100%;
  opacity: 0.5;
  margin: 5px 0;
  overflow: hidden;
  &.active {
    border-left: transparent;
    background-color: #2a2a2a;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: -1px;
    opacity: 1;
    .chat-person {
      .person {
        &:hover {
          background-color: white;
        }
      }
    }
  }
  .loading-members {
    margin: auto;
  }
  .chat-group-overlay-btn {
    transition: all 0.2s ease-in;
    cursor: pointer;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    border: 1px solid #666;
    z-index: 1;
    border-radius: 20px;
    &:hover {
      color: white;
      border-color: white;
    }
  }
}
