.socialBtn {
  color: white;
  font-weight: bold;
}

.facebookBtn {
  @extend .socialBtn;
  background-color: #4267b2;
}

.chat-logo {
  position: absolute;
  top: -56px;
  width: 100px;
  height: 100px;
  background: url(../../assets/img/chat-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
