.facebookBtn {
  color: white;
  margin: auto;
  font-weight: bold;
  white-space: pre-line;
  max-width: 230px;
  height: 200px;
  line-height: 25px;
  background-color: #4267b2;
  .fb-icon {
    width: 64px;
    height: 64px;
    margin: -20px 10px 10px;
  }
}

.chat-logo {
  position: absolute;
  top: -56px;
  width: 100px;
  height: 100px;
  background: url(../../assets/img/chat-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
